# ===== Visual Studio =====
.vs/
*.user
*.suo
*.VC.db
*.VC.opendb

# ===== Builds =====
Debug/
x86/

# ===== CMake =====
build/
glm/
include/
lib/
shaders/
*/P0CGEIHC/x64

# ===== Temporales =====
*.log
*.tmp
*.sln
*.dll
*.h
*.filters
*.vcxproj
*.cpp
!practica2.cpp