# ===== Visual Studio =====
.vs/
*.user
*.suo
*.VC.db
*.VC.opendb

# ===== Builds =====
Debug/
x86/

# ===== CMake =====
build/
glm/
include/
lib/
*/P0CGEIHC/x64

# ===== Temporales =====
*.log
*.tmp
*.sln
*.dll
*.h
*.filters
*.vcxproj
*.cpp
*.vert
*.frag
!practica2.cpp
!solid.vert
!solid_rojo.frag
!solid_verde.frag
!solid_azul.frag
!solid_cafe.frag
!solid_verde_oscuro.frag