# ===== Visual Studio =====
.vs/
*.user
*.suo
*.VC.db
*.VC.opendb

# ===== Builds =====
Debug/
x86/

# ===== CMake =====
build/
glm/
include/
lib/
shaders/
P3CGEIHC/P3CGEIHC/x64
P3CGEIHC.tlog/

# ===== Temporales =====
*.log
*.tmp
*.sln
*.dll
*.h
*.obj
*.filters
*.vcxproj
*.cpp
!practica4_conjerarquia.cpp